@using Jewellery.Entities.Models
@model List<Category>

<div class="card">
    <div class="card-body">
        <div class="d-flex">
            <h5 class="card-title">Categories</h5>
            <div class="col-2">
                <a asp-action="create" asp-controller="category" asp-area="admin" class="btn btn-outline-success">Create category</a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Image</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var category in Model)
                    {
                        <tr>
                            <th>@category.Id</th>
                            <td>@category.Name</td>
                            <td class="admin-first-img">
                                <img src="@category.Filename" />
                            </td>
                            <td>
                                <a class="btn btn-outline-warning text-white" asp-action="edit" asp-controller="category" asp-area="admin" asp-route-id="@category.Id">Edit</a>
                                <a class="btn btn-outline-danger text-white" asp-action="delete" asp-controller="category" asp-area="admin" asp-route-id="@category.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>