@using Jewellery.Entities.Models
@model List<Product>

<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <h5 class="card-title">Featured Products</h5>
            <div class="col-2">
                <a asp-action="create" asp-controller="featuredproducts" asp-area="admin" class="btn btn-outline-success">Add item</a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col">ProductId</th>
                        <th scope="col">Name</th>
                        <th scope="col">Image</th>
                        <th scope="col">CategoryName</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model)
                    {
                        <tr>
                            <th>@product.Id</th>
                            <td>@product.Name</td>
                            <td class="admin-first-img">
                                <img src="@product.Filename" />
                            </td>
                            <td>@product.Category.Name</td>
                            <td>
                                <a class="btn btn-outline-warning text-white" asp-action="edit" asp-controller="featuredproducts" asp-area="admin" asp-route-id="@product.Id">Edit</a>
                                <a class="btn btn-outline-danger text-white" asp-action="delete" asp-controller="featuredproducts" asp-area="admin" asp-route-id="@product.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>