@using Jevellery.ViewModels.Home
@model HomeVM

@{
    ViewData["Title"] = "Home";
}

<div class="home">
    <section class="home-first">
        <div class="home-first-text title">
            <div>
                <h1 class="title">@Model.FirstContent.Title</h1>
                <p class="title-text">@Model.FirstContent.Description</p>
                <div class="explore-btn">
                    <a>
                        <span>- Explore Now</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="home-first-img">
            <img src="@Model.FirstContent.ImageUrl" />
        </div>
    </section>
    <section class="home-second">
        <h1 class="title">Shop by Category</h1>
        <a class="explore-btn">
            <span>- View All</span>
        </a>

        <div class="categories-container">
            @foreach (var item in Model.Categories)
            {
                <div class="category-card">
                    <a asp-controller="shop" asp-action="index" asp-route-categoryId="@item.Id">
                        <img src="@item.Filename" />

                        <div class="category-text">
                            <p>@item.Name</p>
                            <span>@item.Products.Count</span>
                            <span>Products</span>
                        </div>
                    </a>
                </div>

            }
        </div>
    </section>
    <section class="home-third">
        <div class="ring-logo">
            <img src="~/img/ring-icon.png" />
        </div>
        <h2 class="title">
            We make high-quality, handcrafted jewelry for over a decade, having the same passion & values!
        </h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <a class="explore-btn">
            <span>- Read More</span>
        </a>
    </section>


    <section class="home-fourth">
        <h2 class="title">New Arrivals</h2>
        <a class="explore-btn">
            <span>- View All</span>
        </a>
        <div class="categories-container">
            @foreach (var item in Model.NewArrivalProducts)
            {
                <div class="category-card">
                    <a asp-action="index" asp-controller="product" asp-route-productId="@item.Id">
                        <img src="@item.Filename" />
                    </a>
                    @if (item.Discount > 0)
                    {
                        <div class="card-discount">
                            <span>-@item.Discount%</span>
                        </div>
                    }
                    <div class="card-icons">
                        <div class="card-icon-container">
                            <button onclick="addToCart(@item.Id)" type="button" class="basket">
                                <span class="tooltiptext">Add to cart</span>
                                <i class="bi bi-basket-fill"></i>
                            </button>
                        </div>
                        <div class="card-icon-container">
                            <button onclick="showQuickView(@item.Id)" type="button" class="view">
                                <span class="tooltiptext">Quick View</span>
                                <i class="bi bi-eye-fill"></i>
                            </button>
                        </div>
                        <div class="card-icon-container">
                            @if (!item.IsWishList)
                            {
                                <button onclick="addWishlist(@item.Id, this)" type="button" class="view">
                                    <span class="tooltiptext">Add To Wishlist</span>
                                    <i class="heart-icon fa-regular fa-heart"></i>
                                </button>
                            }
                            else
                            {
                                <button onclick="removeWishlist(@item.Id, this)" type="button" class="view">
                                    <span class="tooltiptext">Remove Wishlist</span>
                                    <i style="color:#db9662" class="heart-icon fa-solid fa-heart"></i>
                                </button>
                            }
                        </div>
                    </div>
                    <div class="card-text">
                        <span class="card-categoryname">@item.Category.Name</span>
                        <a asp-action="index" asp-controller="product" asp-route-productId="@item.Id">
                            <h2 class="card-productname">@item.Name</h2>
                        </a>
                        @if (item.Discount > 0)
                        {
                            var discountPrice = (double)item.Price * ((double)item.Discount / 100);
                            var price = (double)item.Price - discountPrice;
                            <span class="card-price disc">$@item.Price</span>
                            <span class="card-price">$@price</span>
                        }
                        else
                        {
                            <span class="card-price">$@item.Price</span>
                        }
                    </div>
                </div>

            }

        </div>
    </section>
    <section class="home-fifth">
        <div class="home-fifth-first">
            <img src="~/img/homebg-05.jpg" />
        </div>
        <div class="home-fifth-second">
            <h1 class="title">Exquisite Jewelry for Everyone</h1>
            <div style="display:flex;justify-content:center;">
                <div class="divider"></div>
            </div>
            <p class="title-text">Discover our awesome rings collection</p>
            <div class="explore-btn">
                <a asp-controller="shop" asp-action="index" asp-route-categoryId="3">
                    <span>- Discover The Collection</span>
                </a>
            </div>
        </div>
        <div class="home-fifth-third">
            <img src="~/img/ringimg-02.png" />
        </div>
    </section>

    <section class="home-sixth">
        <div class="home-sixth-first">
            <img src="~/img/section6img.png" />
            <div class="home-sixth-second">
                <h5>testimonials</h5>
            </div>
        </div>
        <p class="title-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua veniam...</p>
        <div style="display:flex;justify-content:center;">
            <div class="divider"></div>
        </div>
    </section>


    <section class="home-seventh">
        <div class="collections">
            @foreach (var item in Model.Collections)
            {
                <div class="collection-card">
                    <img src="@item.ImageUrl" />
                    <div class="collection-card-overlay"></div>
                    <div class="collection-card-text">
                        <h2>
                            <a href="#">@item.Title</a>
                        </h2>
                        <p>@item.Description</p>
                        <h6>
                            Starting at $<span>@item.StartTime</span>
                        </h6>
                    </div>
                </div>
            }
        </div>
    </section>
    <section class="home-eighth">
        <h2 class="title">Featured Products</h2>
        <a class="explore-btn">
            <span>- View All</span>
        </a>
        <div class="categories-container">
            @foreach (var item in Model.FeaturedProducts)
            {
                <div class="category-card">
                    <a asp-action="index" asp-controller="product" asp-route-productId="@item.Id">
                        <img src="@item.Filename" />
                    </a>
                    @if (item.Discount > 0)
                    {
                        <div class="card-discount">
                            <span>-@item.Discount%</span>
                        </div>
                    }
                    <div class="card-icons">
                        <div class="card-icon-container">
                            <button onclick="addToCart(@item.Id)" type="button" class="basket">
                                <span class="tooltiptext">Add to cart</span>
                                <i class="bi bi-basket-fill"></i>
                            </button>
                        </div>
                        <div class="card-icon-container">
                            <button onclick="showQuickView(@item.Id)" type="button" class="view">
                                <span class="tooltiptext">Quick View</span>
                                <i class="bi bi-eye-fill"></i>
                            </button>
                        </div>
                        <div class="card-icon-container">
                            @if (!item.IsWishList)
                            {
                                <button onclick="addWishlist(@item.Id, this)" type="button" class="view">
                                    <span class="tooltiptext">Add To Wishlist</span>
                                    <i class="heart-icon fa-regular fa-heart"></i>
                                </button>
                            }
                            else
                            {
                                <button onclick="removeWishlist(@item.Id, this)" type="button" class="view">
                                    <span class="tooltiptext">Remove Wishlist</span>
                                    <i style="color:#db9662" class="heart-icon fa-solid fa-heart"></i>
                                </button>
                            }
                        </div>
                    </div>
                    <div class="card-text">
                        <span class="card-categoryname">@item.Category.Name</span>
                        <a asp-action="index" asp-controller="product" asp-route-productId="@item.Id">
                            <h2 class="card-productname">@item.Name</h2>
                        </a>
                        @if (item.Discount > 0)
                        {
                            var discountPrice = item.Price * ((decimal)item.Discount / 100);
                            var price = item.Price - discountPrice;
                            <span class="card-price disc">$@item.Price</span>
                            <span class="card-price">$@price</span>
                        }
                        else
                        {
                            <span class="card-price">$@item.Price</span>
                        }
                    </div>
                </div>

            }
        </div>
    </section>
    <section class="home-nineth">
        <h2 class="title">Precious Metals</h2>
        <div style="display:flex;justify-content:center;">
            <div class="divider"></div>
        </div>
        <div class="precious-container">
            <div class="precious-card">
                <div class="precious-img">
                    <img src="~/img/precous1.jpg" alt="precious1" />
                </div>
                <div class="precious-txt">
                    <h3>14k Solid Gold</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis.</p>
                </div>
            </div>
            <div class="precious-card">
                <div class="precious-img">
                    <img src="~/img/precious2.jpg" alt="precious1" />
                </div>
                <div class="precious-txt">
                    <h3>Sterling Silver</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis.</p>
                </div>
            </div>
            <div class="precious-card">
                <div class="precious-img">
                    <img src="~/img/precious3.jpg" alt="precious1" />
                </div>
                <div class="precious-txt">
                    <h3>Gold Vermeil</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="home-tenth">
        <div class="home-tenth-first">
            <div class="home-tenth-second">
                <h1 class="title">High-Quality, Handcrafted Jewelry</h1>
                <div style="display:flex;justify-content:center;">
                    <div class="divider"></div>
                </div>
                <p class="title-text">Discover our bracelets collection</p>
                <div>
                    <img src="~/img/tenringimg.png" />
                </div>
                <div class="explore-btn">
                    <a>
                        <span>- Explore</span>
                    </a>
                </div>
            </div>
            <div class="home-tenth-third">
                <img src="~/img/tenthoverlay.jpg" />
            </div>
        </div>
    </section>

    <section class="home-eleventh">
        <div class="home-eleventh-first">
            <div class="sale-icon">
                <img src="~/img/sale-icon.png" />
            </div>
            <h1 class="title">25% Discount on Making Charges</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur
                <br />
                adipisicing elit, sed do.
            </p>
            <div class="explore-btn">
                <a>
                    <span>- visit our stores</span>
                </a>
            </div>
        </div>
    </section>
</div>
