@using Jevellery.ViewModels.Shop
@model ShopVM

<div class="shop">
    <section class="shop-first">
        <div class="shop-container">
            <div class="shop-top">
                <button onclick="showFilter()" type="button" class="filter-btn">
                    <span class="filter-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M496 384H160v-16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v16H16c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h80v16c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16v-16h336c8.8 0 16-7.2 16-16v-32c0-8.8-7.2-16-16-16zm0-160h-80v-16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v16H16c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h336v16c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16v-16h80c8.8 0 16-7.2 16-16v-32c0-8.8-7.2-16-16-16zm0-160H288V48c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v16H16C7.2 64 0 71.2 0 80v32c0 8.8 7.2 16 16 16h208v16c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16v-16h208c8.8 0 16-7.2 16-16V80c0-8.8-7.2-16-16-16z"></path></svg>
                    </span>
                    <span class="filter-text">FILTER</span>
                </button>
                @{
                    var currentSort = ViewContext.RouteData.Values["sort"]?.ToString().ToLower();
                }
                <div class="shop-top-right">
                    <form asp-action="index" asp-controller="shop" method="get">
                        <div class="drop">
                            <select id="myDropdown" asp-items="@Model.Selects" name="sort" onchange="this.form.submit()"></select>
                        </div>
                    </form>

                    <span class="view-icon active">
                        <i class="bi bi-grid-fill"></i>
                    </span>
                    <span class="view-icon">
                        @* <i class="bi bi-list-ul"></i> *@
                        <i class="fa-solid fa-table-list"></i>
                    </span>
                </div>
            </div>
            <div class="product-container">
                @foreach (var item in Model.Products)
                {
                    <div class="category-card">
                        <a>
                            <img src="~/img/Products/@(item.Filename).jpg" />
                        </a>
                        @if (item.Discount > 0)
                        {
                            <div class="card-discount">
                                <span>-@item.Discount%</span>
                            </div>
                        }
                        <div class="card-icons">
                            <div class="card-icon-container">
                                <button onclick="addToCart(@item.Id)" type="button" class="basket">
                                    <span class="tooltiptext">Add to cart</span>
                                    <i class="bi bi-basket-fill"></i>
                                </button>
                            </div>
                            <div class="card-icon-container">
                                <button type="button" class="view">
                                    <span class="tooltiptext">Quick View</span>
                                    <i class="bi bi-eye-fill"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-text">
                            <span class="card-categoryname">@item.Category.Name</span>
                            <a class="">
                                <h2 class="card-productname">@item.Name</h2>
                            </a>
                            @if (item.Discount > 0)
                            {
                                var discountPrice = (double)item.Price * ((double)item.Discount / 100);
                                var price = (double)item.Price - discountPrice;
                                <span class="card-price disc">$@item.Price</span>
                                <span class="card-price">$@price</span>
                            }
                            else
                            {
                                <span class="card-price">$@item.Price</span>
                            }
                        </div>
                    </div>
                }
            </div>
            <product-list-pager current-page=@Model.CurrentPage sort="@Model.Sort" page-count=@Model.PageCount></product-list-pager>
        </div>
    </section>
</div>