@using Jevellery.ViewModels.Shop
@model ShopVM

<div class="shop">
    <section class="shop-first">
        <div class="shop-container">
            @if (Model.CategoryId > 0)
            {
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            }
            <div class="shop-top">
                <button onclick="showFilter()" type="button" class="filter-btn">
                    <span class="filter-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M496 384H160v-16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v16H16c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h80v16c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16v-16h336c8.8 0 16-7.2 16-16v-32c0-8.8-7.2-16-16-16zm0-160h-80v-16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v16H16c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h336v16c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16v-16h80c8.8 0 16-7.2 16-16v-32c0-8.8-7.2-16-16-16zm0-160H288V48c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v16H16C7.2 64 0 71.2 0 80v32c0 8.8 7.2 16 16 16h208v16c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16v-16h208c8.8 0 16-7.2 16-16V80c0-8.8-7.2-16-16-16z"></path></svg>
                    </span>
                    <span class="filter-text">FILTER</span>
                </button>
                @{
                    var currentSort = ViewContext.RouteData.Values["sort"]?.ToString().ToLower();
                }
                <div class="shop-top-right">
                    <form asp-action="index" asp-controller="shop" method="get">
                        @if (Model.CategoryId > 0)
                        {
                            <input type="hidden" name="categoryId" value="@Model.CategoryId" />
                        }
                        @if (Model.FilterMin > 0)
                        {
                            <input type="hidden" name="filterMin" value="@Model.FilterMin" />
                        }
                        @if (Model.FilterMax > 0)
                        {
                            <input type="hidden" name="filterMax" value="@Model.FilterMax" />
                        }
                        <div class="drop">
                            <select id="myDropdown" asp-items="@Model.Selects" name="sort" onchange="this.form.submit()"></select>
                        </div>
                    </form>

                    <span class="view-icon active">
                        <i class="bi bi-grid-fill"></i>
                    </span>
                    <span class="view-icon">
                        <i class="fa-solid fa-table-list"></i>
                    </span>
                </div>
            </div>

            
            @if (Model.FilterMax > 0 || Model.FilterMin > 0)
            {


                <div class="active-filters">
                    <h2 class="title">Active Filters</h2>
                    @{
                        var a = new Dictionary<string, string>();
                        if (Model.CategoryId > 0) a["categoryId"] = Model.CategoryId.ToString();
                        if (Model.Sort!="default" && !string.IsNullOrEmpty(Model.Sort)) a["sort"] = Model.Sort.ToString();
                        var forMin = new Dictionary<string, string>(a);
                        var forMax = new Dictionary<string, string>(a);

                        if(Model.FilterMax>0) forMin["filterMax"] = Model.FilterMax.ToString();
                        if (Model.FilterMin>0) forMax["filterMin"] = Model.FilterMin.ToString();
                    }

                    @if (Model.FilterMax > 0)
                    {
                        <a class="remove-filter" asp-action="index"  asp-all-route-data="forMax">
                            <i class="fa-solid fa-circle-xmark"></i>
                            <span>Max $@Model.FilterMax .00</span>
                        </a>
                    }
                    @if (Model.FilterMin > 0)
                    {
                        <a class="remove-filter" asp-action="index" asp-all-route-data="forMin">
                            <i class="fa-solid fa-circle-xmark"></i>
                            <span>Min $@Model.FilterMin .00</span>
                        </a>
                    }
                </div>
            }
            <div class="product-container">
                @foreach (var item in Model.Products)
                {
                    <div class="category-card">
                        <a asp-action="index" asp-controller="product" asp-route-productId="@item.Id">
                            <img src="~/img/Products/@(item.Filename).jpg" />
                        </a>
                        @if (item.Discount > 0)
                        {
                            <div class="card-discount">
                                <span>-@item.Discount%</span>
                            </div>
                        }
                        <div class="card-icons">
                            <div class="card-icon-container">
                                <button onclick="addToCart(@item.Id)" type="button" class="basket">
                                    <span class="tooltiptext">Add to cart</span>
                                    <i class="bi bi-basket-fill"></i>
                                </button>
                            </div>
                            <div class="card-icon-container">
                                <button onclick="showQuickView(@item.Id)" type="button" class="view">
                                    <span class="tooltiptext">Quick View</span>
                                    <i class="bi bi-eye-fill"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-text">
                            <span class="card-categoryname">@item.Category.Name</span>
                            <a asp-action="index" asp-controller="product" asp-route-productId="@item.Id">
                                <h2 class="card-productname">@item.Name</h2>
                            </a>
                            @if (item.Discount > 0)
                            {
                                var discountPrice = (double)item.Price * ((double)item.Discount / 100);
                                var price = (double)item.Price - discountPrice;
                                <span class="card-price disc">$@item.Price</span>
                                <span class="card-price">$@price</span>
                            }
                            else
                            {
                                <span class="card-price">$@item.Price</span>
                            }
                        </div>
                    </div>
                }
            </div>
            <product-list-pager  current-page=@Model.CurrentPage sort="@Model.Sort" categoryId="@Model.CategoryId" page-count=@Model.PageCount filterMax="@Model.FilterMax" filterMin="@Model.FilterMin" ></product-list-pager>
            <div class="filter-sect">
                <div class="filter-sec-top">
                    <button onclick="closeFilterSect()" type="button"><i class="fa-solid fa-xmark"></i></button>
                </div>
                <div class="wrapper">
                    <h3 class="title">Filter by price</h3>
                    <div class="slider">
                        <div class="progress"></div>
                    </div>
                    <form id="filterForm" asp-action="index" asp-controller="shop" method="get">
                        @if (Model.CategoryId > 0)
                        {
                            <input type="hidden" name="categoryId" value="@Model.CategoryId" />
                        }
                        @if (Model.CurrentPage > 1)
                        {
                            <input type="hidden" name="page" value="@Model.CurrentPage" />
                        }
                        @if (Model.Sort != "default" && !string.IsNullOrEmpty(Model.Sort))
                        {
                            <input type="hidden" name="sort" value="@Model.Sort" />

                        }
                        <div class="range-input">
                            <input type="range" min="@Model.MinProductPrice" max="@Model.MaxProductPrice" name="filterMin" value="@(Model.FilterMin > 0 ? Model.FilterMin : Model.MinProductPrice)" class="min-range" />
                            <input type="range" min="@Model.MinProductPrice" max="@Model.MaxProductPrice" name="filterMax" value="@(Model.FilterMax>0?@Model.FilterMax:@Model.MaxProductPrice)" class="max-range" />
                        </div>

                        <div class="price-input">
                            <div class="field">
                                <span class="price-value">$240</span>
                                <span class="price-value">$390</span>
                            </div>
                        </div>
                        <div class="filter-price-buttons">
                            <button onclick="resetFilter()"
                                id="filter-reset-btn" type="button" class="explore-btn">
                                <span>reset</span>
                            </button>
                            <button type="button" onclick="submitFilter(true)" class="explore-btn">
                                <span>Apply</span>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="filter-category-sect">
                    <div class="filter-category-top">
                        <h2 class="title" onclick="showFilterCategories()">
                            Filter by Categories
                            <span class="filter-arrow-icon"><i class="fa-solid fa-angle-down"></i></span>

                        </h2>
                    </div>
                    <ul class="filter-categories-container">
                        @foreach (var item in Model.Categories)
                        {
                            <li class="filter-category-card">
                                <a asp-action="index" asp-controller="shop" asp-route-categoryId="@item.Id" class="filter-category-card-img">
                                    <img src="~/img/@(item.Filename).jpg" />
                                </a>
                                <a sp-action="index" asp-controller="shop" asp-route-categoryId="@item.Id">@item.Name</a>
                                <span>(@item.Products.Count)</span>
                            </li>

                        }
                    </ul>
                </div>
            </div>
            <div onclick="closeFilterSect()" class="cart-overlay2"></div>
        </div>
    </section>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        calculateFilter();
    });
</script>